
.traffic-light{
    background: black;
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    justify-content: center;
}

.light{
    border-radius: 50%;
    margin: auto;
    width: 100px;
    height: 100px;
}   

.red{background-color: red;}
.yellow{background-color: yellow;}
.green{background-color: green;}

.glow{
    box-shadow: 0 0 50px 15px #fbfcfc;
}